{% extends "TroisWABlogBundle::layout.html.twig" %}

{% block title %}

    {{ parent() }}

    <h1> -Accueil </h1>

{%  endblock %}


{% block content %}

    <h1> Accueil </h1>

{% endblock %}






